<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login"><h2 class="active"> Sign In </h2></a>
    <a routerLink="/register"><h2 class="inactive underlineHover"> Sign Up </h2></a>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="username">
      <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>
