<h1>Add Product</h1>
<form [formGroup]="productCreateForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price: </td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Category: </td>
      <td>
        <select formControlName="category">
          <option selected [value]="null" disabled>Choose category</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><button>Save</button></td>
    </tr>
  </table>
</form>
